.profile-header{

  background: black;
  width:100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 1rem;
  position: relative;
  padding: 40px 0;
}


.profile-info{
  padding-left: 1.5rem;
  font-size: 1.4rem;
}

.profile-info div:first-child{

  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 600;

}


.profile-imges{
  height: 150px;
  width: 150px;
  margin: 15px;
}

.profile-imges img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  background-size: contain;
  display: flex;
}

@media (max-width: 450px){

  .profile-imges img{
    height: 100px;
    width: 100px;
    padding: 0;
  }


  .profile-imges{
    height: 100px;
    width: 100px;
  }

}



@media (max-width: 320px){
  .profile-header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  .profile-imges{
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  .profile-info div{
    text-align: center;
  }

  .profile-info{
    margin: 0;
    padding: 0;
  }
}
