
.movies__container a {
  text-decoration: none;
  color: #ddd;

}

.movies__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 85%;
  padding-top: 30px;
  justify-content: center;
  color: #ddd;
}

.movie {
  margin: 20px;
  padding: 20px 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-blend-mode: color;
  width: 250px;

  height: 400.1px;
  box-shadow: 10px 10px 10px #111;
  transition: background-color 0.25s linear;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-size: cover;
}
.movie:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.movie:hover .movie__title,
.movie:hover .movie__year,
.movie:hover .movie__imdb_number,
.movie:hover .movie__rating {
  opacity: 1;
  transform: scale(1);
}

.movie__title {
  transform: scale(0);
  opacity: 0;
  font-weight: bold;
  font-size: 1.4rem;
  transition: transform 0.24s ease-in 0, opacity 0.3s linear;
  text-transform: uppercase;
}



.movie__year {
  max-height: 200px;
  font-weight: bold;
  font-size: 1.2rem;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.24s ease-in 0.05s, opacity 0.3s linear;
}


.movie__imdb {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  padding: 0 10px;
}
.movie__imdb_number{
  transform: scale(0);
  opacity: 0;
  transition: transform 0.24s ease-in 0.35s, opacity 0.3s linear;
  font-weight: bold;
  font-size: 1.2rem;
}

.movie__rating {
  transform: scale(0);
  opacity: 0;
  transition: transform 0.24s ease-in 0.35s, opacity 0.3s linear;
  min-width: 50px;
}

.fa-star {
  width: 9px;
  font-size: 1.2em;
  display: inline-block;
  overflow: hidden;
}
.fa-star.checked {
  color: yellow;
}



@media (max-width: 968px) {
  .poster__info {
    transform: none;
    height: 35%;
  }

  .poster__title a {
    font-size: 1.2rem;
    padding-bottom: 10px;
  }
  .poster__actors {
    height: 30px;
    padding-bottom: 20px;
    font-size: 0.8rem;
    margin: 0;

  }

  .poster__button {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .movie  {
    height: 400px;
  }

}

@media (max-width: 992px) {

  .movie {
    width: 220px;
    max-height: 350px;
  }
}

@media (max-width: 992px) {

  .movie  {
    width: 180px;
    max-height: 280px;
  }

}
