
.poster {
  list-style-type: none;
  margin-top: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.9), 0 10px 10px rgba(0, 0, 0, 0.9);

  &__wrapper {
    width: 250px;
    padding: 2px;
    height: 400px;
    position: relative;
    overflow: hidden;
    background: white;

  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;

  }

  a {
    text-decoration: none;
    color: black;
    position: relative;
  }
}

.poster__wrapper:hover .poster__info {
  transform: translateY(0);
}

.poster__info {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(50px + 1em));
  transition: transform 0.3s;

}

.poster__content {
  padding: 0.2em;
  position: relative;
  z-index: 1;
  background-color: #fff;
  color: black;
}

.poster__year {
  padding-top:  10px;
  font-size: 1rem;
  font-weight: 600;
}

.poster__title a {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 10px;
  color: black;
}

// .poster__actors {
//   font-size: 1rem;
//   margin: 0;
//   margin-top: 10px;
//   height: 50px;
// }

.poster__info {
  color: #fff;
  transform: translateY(calc(50px + 6em));
}

.poster__button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 0.9rem;
  color: #000;
  line-height: 1;
  position: relative;
  font-weight: 700;
}

.poster__button::after {
  content: '\2192';
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
}

.poster__button:hover::after {
  transform: translate(5px, -50%);
  opacity: 1;
}

.poster__rating > span {
  font-weight: 800;
  background: #FFFF00;
  border-radius: 2px;
  color: #544C21;
  font-size: 1rem;
  margin: 5px;
  padding: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

.poster__row {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 2rem;
}

@media (max-width: 968px) {
  .poster__info {
    transform: none;
    height: 35%;
  }

  .poster__title a {
    font-size: 1.2rem;
    padding-bottom: 10px;
  }
  .poster__actors {
    height: 30px;
    padding-bottom: 20px;
    font-size: 0.8rem;
    margin: 0;

  }

  .poster__button {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .poster__wrapper {
    height: 400px;
  }

}

@media (max-width: 992px) {

  .poster__wrapper {
    width: 220px;
    max-height: 350px;
  }
}

@media (max-width: 992px) {

  .poster__wrapper {
    width: 180px;
    max-height: 280px;
  }

}
